<!---JSON SCHEMA NewsArticle--->
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ canonical_url }}"
  },
  "headline": "{{ article.title }}",
  "image": "{{ shop.url }}/{{ article.image }}",
  "datePublished": "{{ article.published_at | date: '%Y-%m-%d' }}",
  "dateModified": "{{ article.published_at | date: '%Y-%m-%d' }}",
  "author": {
    "@type": "Person",
    "name": "{{ article.author }}"
  },
   "publisher": {
    "@type": "Organization",
    "name": "90+ Cellars",
    "logo": {
      "@type": "ImageObject",
      "url": "https:{{ section.settings.logo | img_url }}"
    }
  },
  "description": "{% if article.excerpt.size > 0 %}
                  {{ article.excerpt }}
                  {% else %}
                  {{ article.content | strip_html | truncatewords: 40 }}
                  {% endif %}"
}
</script>