{%- comment -%} EX 1 {%- endcomment -%}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "90+ Cellars",
    "image": "{{ section.settings.logo | img_url }}",
    "url": "{{ shop.url }}",
    "contactPoint": [{
      "@type": "ContactPoint",
      "telephone": "+1-855-879-8466",
      "contactType": "Headquarters",
      "email": "info@latitudebeverage.com",
      "areaServed": [
        "Nationwide"
      ],
      "contactOption": [
        "TollFree"
      ],
      "availableLanguage": [
        "English"
      ]
    }],
    "sameAs": [
      "http://www.pinterest.com/90pluscellars/",
      "https://www.facebook.com/ninetypluscellars",
      "https://twitter.com/90pluscellars",
      "http://instagram.com/90pluscellars",
      "http://www.youtube.com/user/90PlusCellars"
    ]
  }
</script>

{%- comment -%} EX 2 {%- endcomment -%}
{%- capture social_media -%}
    {%- comment -%} theme specific social media settings {%- endcomment -%}
    {%- if settings.social_twitter != blank -%}{{ settings.social_twitter }},{%- endif -%}
    {%- if settings.social_pinterest != blank -%}{{ settings.social_pinterest }},{%- endif -%}
    {%- if settings.social_instagram != blank -%}{{ settings.social_instagram }},{%- endif -%}
    {%- if settings.social_vimeo != blank -%}{{ settings.social_vimeo }},{%- endif -%}
    {%- if settings.social_tumblr != blank -%}{{ settings.social_tumblr }},{%- endif -%}
    {%- if settings.social_youtube != blank -%}{{ settings.social_youtube }},{%- endif -%}
    {%- if settings.social_tiktok != blank -%}{{ settings.social_tiktok }},{%- endif -%}
    {%- if settings.social_linkedin != blank -%}{{ settings.social_linkedin }},{%- endif -%}
    {%- if settings.social_snapchat != blank -%}{{ settings.social_snapchat }},{%- endif -%}
    {%- if settings.social_facebook != blank -%}{{ settings.social_facebook }},{%- endif -%}
{%- endcapture -%}
{%- assign list_sameAs = social_media | split: ',' -%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ shop.name }}",
    "image": "{{ section.settings.logo | img_url }}",
    "url": "{{ shop.url }}",
    "contactPoint": [{
      "@type": "ContactPoint",
      "telephone": "{{ shop.phone }}",
      "contactType": "Headquarters",
      "email": "{{ shop.email }}",
      "areaServed": [
        "Nationwide"
      ],
      "contactOption": [
        "TollFree"
      ],
      "availableLanguage": [
          {%- for locale in shop.published_locales -%}
              {{ locale.name | json }}{%- unless forloop.last -%},{%- endunless -%}
          {%- endfor -%}
      ]
    }],
    "sameAs": [
      {%- for social in list_sameAs -%}
          {{ social | json }}{%- unless forloop.last -%},{%- endunless -%}
      {%- endfor -%}
    ]
  }
</script>