<!---JSON SCHEMA Product--->
<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Product",
  "name": "{{ product.title }}",
  "image": "{{ shop.url }}/{{ product.featured_image }}",
  "description": "{{product.metafields.data.short-description}}",
  "id": "{{ canonical_url }}",
  "url": "{{ shop.url }}/{{ product.url }}",
  "sku": "{{ current_variant.sku }}",
  "brand": {
    "@type": "Brand",
    "name": "{{product.metafields.data.brand}}"
  },
  "releaseDate": "{{product.metafields.data.year}}",
  "additionalProperty":[
      {
          "@type": "PropertyValue",
          "name": "Varietal",
          "value": "{{product.metafields.data.varietal}}"
          },
      {
          "@type": "PropertyValue",
          "name": "Region",
          "value": "{{product.metafields.data.origin}}"
          },
        {
          "@type": "PropertyValue",
          "name": "Year",
          "value": "{{product.metafields.data.year}}"
          }
      ],
  "aggregateRating": {
    "@type": "AggregateRating",
    "itemReviewed": "{{ product.title }}",
    "ratingValue": "{{ product.metafields.yotpo.reviews_average }}",
    "reviewCount": "{{ product.metafields.yotpo.reviews_count }}"
  },
  "offers": {
    "@type": "Offer",
    "url": "{{ shop.url }}/{{ product.url }}",
    "priceCurrency": "{{ shop.currency }}",
    "price": "{{ current_variant.price | money_without_currency }}",
    "priceValidUntil": "2020-12-1",
    "availability": "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
    "seller": {
      "@type": "Organization",
      "name": "90+ Cellars"
    }
  }
}
</script>